<!-- djangotemplates/example/templates/index.html -->
{% extends 'base.html' %}
{% block title %}Welcome {{post.title}}{% endblock title %}
{% block nav-style %}detail{% endblock %}
{% block content %}
    <div class="container">

      <div class="post">
        <a href="#"><h1>{{ post.title }}</h1></a>
        <hr>
        <div class="in-content">
            <p>{{ post.body }}</p>

        </div>
        <div class="foot-post">
            <div class="units-row">
                <div class="unit-100">
                    <strong>Tags:</strong>
                    <a href="">{{ post.tags }}</a>
                </div>
                <div class="unit-100">
                    <strong>COMMENTS:</strong>
                    <a href="#">3</a>
                </div>
            </div>
        </div>
      </div>

      <div class="comment">
          <form method="post" novalidate>
           {% csrf_token %}
           {% for field in comment_form %}
              <p>
                  {% if field.type != 'hidden' %}
                  {{ field.label_tag }} {{field.field_type}}<br>
                  {% endif%}

                {{ field }}

                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit" class="btn">Sign up</button>
       </form>
      </div>

    </div>
{% endblock content %}