<!-- djangotemplates/example/templates/index.html -->
{% extends 'base.html' %}
{% block title %}Welcome {{post.title}}{% endblock title %}
{% block nav-style %}detail{% endblock %}
{% block content %}
    <div class="container">

      <div class="post">
        <a href="#"><h1>{{ post.title }}</h1></a>
        <hr>
        <div class="in-content">
            <p>{{ post.body }}</p>

        </div>
        <div class="foot-post">
            <div class="units-row">
                <div class="unit-100">
                    <strong>Tags:</strong>
                    <a href="">{{ post.tags }}</a>
                </div>
                <div class="unit-100">
                    <strong>COMMENTS:</strong>
                    <a href="#">3</a>
                </div>
            </div>
        </div>
      </div>

      <div class="comment">
          <form method="post" id="comment_form" novalidate>

           {% csrf_token %}
           {% for field in comment_form %}
              <p>
                  {% if field.type != 'hidden' %}
                  {{ field.label_tag }} {{field.field_type}}<br>
                  {% endif%}

                {{ field }}

                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button ttype="button" id="post_comment" class="btn">Sign up</button>
       </form>
      </div>

      {% if post_comments  %}
      <div class="comment-box">
           <ul>
               {% for comment in post_comments %}
               <li>
                <div><a href="javascript:void(0);"><img src="images/pikabob.png" width="55" height="55" alt="{{comment.name}}"></a></div>
                <div>
                <header><a href="javascript:void(0);">{{comment.name}}</a> - <span>{{ comment.created_at|date:"M d, Y" }}</span></header>
                <p>{{comment.comment}}</a></p>
                </div>
                </li>
               {% endfor %}
           </ul>
      </div>
      {% endif  %}
    </div>
<script>
    $(document).ready(function(e){

     $("#post_comment").click(function(e){
        e.preventDefault();
        var that = $(this);
        $.ajax({
            url:'/blog/post-comment/',
            data:$("#comment_form").serialize()+"&blog_id={{post.id}}",
            type:"POST",
            beforSend:function(e){
             $(that).val('Wait...')
            },
            success:function(e){
             $(".comment-box ul").prepend(e)
            }
        });
     })
    })
</script>
{% endblock content %}