<!-- djangotemplates/example/templates/index.html -->
{% extends 'base.html' %}
{% block title %} {{author.first_name}} {{author.last_name}} Blogs {% endblock title %}
{% block nav-style %}home{% endblock %}
{% block intro_title %}{{author.first_name}} {{author.last_name}} Blogs{% endblock intro_title %}
{% block content %}
    <div class="container">
     <div class="row">
      {% for post in posts %}
          <div class="post">
            <a href="/blog/{{post.url}}"><h1>{{ post.title }}</h1></a>
            <hr>
            <div class="in-content">
                <p>{{ post.body }}</p>
                <a class="read-more" href="/blog/{{post.url}}">Read more</a>
            </div>
            <div class="foot-post">
                <div class="units-row">
                    <div class="unit-100">
                        <strong>Tags:</strong>
                        <a href="">{{ post.tags }}</a>
                    </div>
                    <div class="unit-100">
                        <strong>Comments:</strong>
                        <a href="#">{{post.comment_set.count}}</a>
                    </div>
                    <div class="unit-100">
                        <strong>Author:</strong>
                        <a href="/blog/author/{{post.author.username}}">{{post.author.first_name}} {{post.author.last_name}}</a>
                    </div>
                    <div class="unit-100">
                        <strong>Publish Date:</strong>
                        <a href="#">{{post.created_at|date:"Y M d"}}</a>
                    </div>
                </div>
            </div>
          </div>
      {% endfor %}
      </div>
    </div>
{% endblock content %}